
#about-text-para {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  max-width: 50%;
}

#about-text-para p {
    font-family: helvetica;
    font-size: 20px;
    line-height: 25px;
}

#about-text-para h1 {
  font-size: 50px;
}

.slide-up {
  width: 400px;
  height: auto;
  animation: fadeIn 1s, slideIn .8s linear;
  margin: auto;
  animation-delay: 4s;
}



@keyframes slideIn {
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
