

p {
  text-align: justify;
  text-justify: inter-word;
}

.project-section {
  display: flex;
  flex-direction: column;
}

.project-half {
  padding: 20px;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  /* width: 50%; */
  margin: 30px;
}

.project-description {
  width: 90%;
}


.image-mobile {
  position: relative;
  width: 260px;
}

.image-web {
  position: relative;
  width: 500px;
}



.connecpet-img {
  border-radius: 16px;
}

.img-overlay {
    position: absolute;
     border-radius: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
    backdrop-filter: blur(5px);
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.project-section h1 {
  font-family: "Poppins", sans-serif;
}




/* .img-description {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(73, 96, 195);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  /* transition: opacity .2s, visibility .2s;
}

.project-description-right:hover .img-description {
  visibility: visible;
  opacity: 0.7;
} */

/* ADD MEDIA QUERIES HERE */

@media (min-width: 992px) {

.project-section {
  flex-direction: row;
  width: 100vw;
  /* height: 100vh; */
}

.project-half {
  /* height: 500px; */
  width: 50%;
 }
}



/* 576
768
992 */
/* min width */


/* max-width: (you can put this right into an element */
